.skills {
  .skills-package {
    img {
      @media #{$maxMobile} {
        padding: 15px 40px;
      }
      padding: 50px 100px;
    }
  }
}

.projects {
  .technologies {
    text-align: center;
    margin-top: 2rem;
    li {
      display: inline-block;
      img {
        width: 50px;
        height: 50px;
      }
      :not(last-child) {
        margin-right: 0.8rem;
      }
    }
  }
}

.contact {
  background: #dddddd8f;
  .freelancer-brand {
    @media #{$maxMobile} {
      margin-bottom: 4rem;
    }
    img {
      @media #{$maxMobile} {
        height: 30vh;
      }
      @media #{$minSmall} {
        height: 60vh;
      }
      @media #{$minMedium} {
        height: 80vh;
      }
      margin: 0 auto;
    }
  }
  form {
    @media #{$maxMobile} {
      text-align: center;
    }
    label {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
      padding-left: 2rem;
    }
    input,
    textarea {
      width: 80%;
      border-radius: 14px;
      outline: none;
      border: 0.8px solid #707070;
      padding: 0.5rem 0.9rem;
    }
    textarea {
      resize: none;
    }
    .mainButton {
      width: 80% !important;
    }
  }
}
